@model DataViewModel
@{
    ViewData["Title"] = "ToDoList";
}
<div>
    <div style="float: right; margin-bottom: 100px">
        <div class="card m-3 text-white" style="border: 2px solid black; background-color: #28242C">
            <table class="table table-dark rounded" style="vertical-align: middle;">
                <form asp-controller="Home" asp-action="ChangeService" method="post">
                <tr><td style="text-align: center; font-size: 18px; font-weight: 600" colspan="2">Database</td></tr>
                <tr>
                    <td>Type:</td>
                    <td>
                        <select asp-for="CurrentDatabase" style="width: 98%" name="dbSelect">
                            <option value="0">SQL</option>
                            <option value="1">XML</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Change Database" class="btn btn-primary text-white" /></td>
                </tr>
                </form>
                <form asp-controller="Home" asp-action="CreateCategory" method="post">
                        <tr><td style="text-align: center; font-size: 18px; font-weight: 600" colspan="2">Available categories</td></tr>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td><p>@category.name</p></td>
                                <td><a class="btn btn-danger" style="float: right" asp-action="DeleteCategory" asp-route-id="@category.id">Delete</a></td>
                            </tr>
                        }
                        <tr>
                            <td>Name:</td>
                            <td><input required placeholder="Category Name" class="rounded" autocomplete="off" name="name" type="text" asp-for="Category.name"/></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Add Category" class="btn btn-primary text-white" /></td>
                        </tr>
                </form>
            </table>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="margin-left: 100px">
        <div>
            <div class="card p-1 m-3 text-white" style="width: 500px; border: 2px solid black; border-radius: 20px; background-color: #28282B">
                <div class="card-body">
                    <form asp-controller="Home" asp-action="SaveRecord" method="post">
                        <table style="width: 100%">
                            <tr>
                                <td>Name:</td>
                                <td><input required placeholder="Note Title" style="width: 98%" class="rounded mb-1" autocomplete="off" name="name" type="text" asp-for="Note.name"/></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td><textarea placeholder="Optional Description" style="width: 98%" class="rounded" autocomplete="off" name="description" asp-for="Note.description"></textarea></td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>
                                    <select name="categories" multiple style="width: 98%" asp-for="CategoryIds">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category.id">@category.name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Add Task" class="btn btn-primary text-white"/></td>
                                <td><input name="deadline" style="width: 98%" type="datetime-local" asp-for="Note.deadline"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            @foreach (var note in Model.Notes)
            {
                <div class="card p-1 m-3" style="width: 500px; border: 2px solid black; border-radius: 20px; background-color: #28282B">
                    <div class="card-body" style="border-radius: 18px; background: repeating-linear-gradient(45deg, #fafafa 0px, #fafafa 4px, #f0f0f0 2px, #f0f0f0 9px);">
                        @if (note.statuscode == 1) { <p class="btn btn-success mb-3 rounded-pill" style="border: 2px darkgreen solid">Finished</p> }
                        @if (note.statuscode == 0)
                        {
                            <a style="font-size: 30px; margin-right: 10px; text-decoration: none" asp-action="UpdateStatus" asp-route-id="@note.id">✅</a>
                            <p class="btn btn-warning mb-3 rounded-pill" style="border: 2px orange solid">In Progress</p>
                        }
                        <a style="float: right; border: 2px darkred dashed" class="btn btn-danger mb-3 rounded-pill" asp-action="DeleteRecord" asp-route-id="@note.id">🗑</a>
                        @if (note.statuscode == 1) { <h4 class="task-name"><del>@note.name</del></h4> <p class="task-description"><del>@note.description</del></p> }
                        @if (note.statuscode == 0) { <h4 class="task-name">@note.name</h4> <p class="task-description">@note.description</p> }
                        <p class="task-created m-0" style="font-size: 13px">
                            <span style="float: right"><b>Created:</b> @note.created</span><br>
                            <span style="float: right"><b>Updated:</b> @note.modified</span>
                            @if (note.deadline != null)
                            {
                                <span style="float: left"><b>Deadline:</b> @note.deadline</span>
                            }
                        </p>
                    </div>
                    <div style="display: block; margin: auto;">
                    @foreach (var categoryNote in @note.categoriesNotes)
                    {
                            <p class="btn btn-dark my-1 rounded-pill border-light" style="border-width: 2px">@categoryNote.category.name</p>
                    }
                    </div>
                </div>
            }
        </div>
    </div>
</div>